# Trigger pipeline ONLY when code is pushed to main / master
trigger: none
#  branches:
#    include:
#      - master
pool:
  name: Devops_Automation_Agents
  demands:
    - agent.name -equals nb-preprod-eus2-devops-vm
# Global pipeline variable
variables:
  - template: templates/variables.yml

stages:
- stage: LiquibasePipeline
  displayName: "Liquibase Deployment Pipeline"
  jobs:
    - job: CheckoutJob
      steps:
        - checkout: self # Checkout source codes from main branch
        - script: |
            set -e
            echo "=== CHECKOUT STAGE ==="
            echo "Branch: $(Build.SourceBranch.)"
            echo "Commit: $(Build.SourceVersion)"
            echo "Checkout completed at $(date)"
          displayName: "Checkout Logging"
    - job: DBConnectionCheck
      displayName: "DB Connection Check"
      dependsOn: CheckoutJob
      steps:
        - template: templates/setup-env.yml  
        - template: templates/db-connection-check.yml

    - job: ValidateJob
      displayName: "Liquibase Validate"
      dependsOn: DBConnectionCheck
      steps:
        - template: templates/setup-env.yml
        - template: templates/liquibase-validate.yml    

    - job: UpdateSQLJob
      displayName: "Liquibase UpdateSQL"
      dependsOn: ValidateJob
      steps:
        - template: templates/setup-env.yml
        - template: templates/liquibase-update-sql.yml    

    - job: ApprovalJob
      displayName: "Manual Approval Before Deploy"
      dependsOn: UpdateSQLJob
      pool: server
      steps:
        - task: ManualValidation@0
          timeoutInMinutes: 1440
          inputs:  
            notifyUsers: |
              Abv@gmail.com
            # Approval message shown in Azure DevOps UI
            instructions: >
              Please review UpdateSQL output and approve,Liquibase deployment to the target database.
            onTimeout: reject
# Liquibase Update (Deploy to Target DB)       
    - job: DeployJob
      displayName: "Liquibase Deploy"
      dependsOn: ApprovalJob
      steps:
        - template: templates/setup-env.yml
        - template: templates/liquibase-deploy.yml
