# Trigger pipeline ONLY when code is pushed to main / master
trigger: none
#  branches:
#    include:
#      - master
pool:
  name: Devops_Automation_Agents
  demands:
    - agent.name -equals nb-preprod-eus2-devops-vm
# Global pipeline variables
variables:
  - template: templates/variables.yml

# Git Checkout Stage
stages:
- stage: Checkout
  displayName: "Git Checkout"
  jobs:
    - job: CheckoutJob
      steps:
        - checkout: self # Checkout source code from main branch
        - script: |
            set -e
            echo "=== CHECKOUT STAGE ==="
            echo "Branch: $(Build.SourceBranch.)"
            echo "Commit: $(Build.SourceVersion)"
            echo "Checkout completed at $(date)"
          displayName: "Checkout Logging"

          # Liquibase Installation Stage          
- stage: LiquibaseInstall
  displayName: "Liquibase Installation"
  dependsOn: Checkout
  jobs:
    - job: LiquibaseJob
      steps:
        - template: templates/java-installation.yml   # Reuse Java installation template   
        - template: templates/liquibase-install.yml  # Reuse the Liquibase install template        

# DB Connection Check
- stage: DBConnectionCheck
  displayName: "Check Target DB Connectivity"
  dependsOn: LiquibaseInstall
  jobs:
    - job: DBCheckJob
      steps:
        - template: templates/java-installation.yml   # Reuse Java installation template   
        - template: templates/liquibase-install.yml  # Reuse the Liquibase install template       
        - template: templates/db-connection-check.yml  # Reuse DB connection check template    

# Liquibase Validate Stage 
- stage: Validate
  displayName: "Liquibase Validate"
  dependsOn: DBConnectionCheck
  jobs:
    - job: ValidateJob
      steps:
        - template: templates/java-installation.yml   # Reuse Java installation template   
        - template: templates/liquibase-install.yml  # Reuse the Liquibase install template        
        - template: templates/liquibase-validate.yml  # Reuse Liquibase validation template

# Liquibase UpdateSQL Stage
- stage: UpdateSQL
  displayName: "Liquibase UpdatSQL"
  dependsOn: Validate
  jobs:
    - job: UpdateSQLJob
      steps:
        - template: templates/java-installation.yml   # Reuse Java installation template   
        - template: templates/liquibase-install.yml  # Reuse the Liquibase install template
        - template: templates/liquibase-update-sql.yml  # Reuse Liquibase update SQL template

# Manual Approval Stage          
- stage: ManualApproval
  displayName: "Manual Approval Before Deployment"
  dependsOn: UpdateSQL
  jobs:
    - job: ApprovalJob
      # Server pool is required for ManualValidation task
      pool: server
      steps:
        - task: ManualValidation@0
          timeoutInMinutes: 1440
          inputs:
            # Users to notify for approval
            notifyUsers: |
              TejaSurendar.ReddyKovvuri@nationsbenefits.com
              AjitemPramod.Joshi@nationsbenefits.com
            # Approval message shown in Azure DevOps UI
            instructions: >
              Please review UpdateSQL output and approve,Liquibase deployment to the target database.
            onTimeout: reject
# Liquibase Update (Deploy to Target DB)       
- stage: Deploy
  displayName: "Liquibase Update"
  dependsOn: ManualApproval
  jobs:
    - job: DeployJob
      steps:
        - template: templates/java-installation.yml
        - template: templates/liquibase-install.yml 
        - template: templates/liquibase-deploy.yml  # Reuse Liquibase deploy template