name: Liquibase Migration Pipeline
on: 
  workflow_dispatch:
    inputs:
      target_env:
        description: "Target environment (dev/qa/demo)"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - qa
          - demo
#      runner_group:
#        description: 'Select Runner Group'
#        required: false
#        type: choice
#        options:
#          - NA    
      services:
        description: "Optional - Please type Comma-separated list of services to run (default: all)"
        required: false
        type: string
      schema_config:
        description: "Optional - Please Select Schema Config Yaml file to run for manual trigger in config/ folder"
        required: false
        default: schema-config-dev.yml
        type: choice
        options:
          - schema-config-dev.yml
          - schema-config-qa.yml
          - schema-config-demo.yml
      selected_schemas:
        description: "Optional - Please Select Comma-separated list of schemas to run (default: all)"
        required: false
        default: ""
        type: string
      select_rollback_scripts:
        description: "Optional - Please provide Comma-separated list of rollback script names to execute"
        required  : false
        type: string 
jobs:
  liquibase_migration:
    runs-on: ubuntu-latest   # GitHub-hosted runner
    environment: ${{ inputs.target_env }}
    concurrency:
      group: liquibase-${{ inputs.target_env }}
      cancel-in-progress: false
    steps:
     - name: Show Inputs
       run: |
          echo "Target environment: ${{ inputs.target_env }}"
          echo "Service list: ${{ inputs.service_list }}"
          echo "Schema config: ${{ inputs.schema_config }}"
          echo "Selected schemas: ${{ inputs.selected_schemas }}"
          echo "Rollback scripts: ${{ inputs.select_rollback_scripts }}"
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Set up Java
       uses: actions/setup-java@v4
       with:
          distribution: 'temurin'
          java-version: '17'

     - name: Installing Liquibase community version
       uses: liquibase/setup-liquibase@v2
       with:
          version: '4.32.0'
          edition: 'community'

     - name: Checking Liquibase version
       run: liquibase --version