name: Liquibase Migration
on: 
  workflow_dispatch:
    inputs:
      target_env:
        description: "Target environment (dev/qa/demo)"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - qa
          - demo
      runner_group:
        description: 'Select Runner Group'
        required: false
        type: choice
        options:
          - NA    
      services:
        description: "Optional - Please type Comma-separated list of services to run (default: all)"
        required: false
      schema_config:
        description: "Optional - Please Select Schema Config Yaml file to run for manual trigger in config/ folder"
        required: false
        default: schema-config-dev.yml
        type: choice
        options:
          - schema-config-dev.yml
          - schema-config-qa.yml
          - schema-config-demo.yml
      selected_schemas:
        description: "Optional - Please Select Comma-separated list of schemas to run (default: all)"
        required: false
        default: ""
        type: string  
jobs:
  liquibase:
    runs-on: ubuntu-latest   # GitHub-hosted runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name:  Ensure Liquibase is installed & Check Version
        run: |
          LIQUIBASE_DIR=$HOME/liquibase
          if ! command -v liquibase &> /dev/null || ! liquibase --version &> /dev/null
            then
              echo "Installing/repairing Liquibase..."
              mkdir -p $LIQUIBASE_DIR
              curl -L https://github.com/liquibase/liquibase/releases/download/v4.25.0/liquibase-4.25.0.tar.gz -o liquibase.tar.gz
              tar -xvzf liquibase.tar.gz -C $LIQUIBASE_DIR --strip-components=1
              chmod +x $LIQUIBASE_DIR/liquibase  # make sure it's executable
          else
            echo "Liquibase already installed and working"
          fi
          export PATH=$LIQUIBASE_DIR:$PATH
          LIQUIBASE_VERSION=$(liquibase --version)
          echo "Liquibase $LIQUIBASE_VERSION installed successfully."
          
      - name: Run Liquibase Update
        uses: liquibase/liquibase-github-action@v4
        with:
          operation: update
          changeLogFile: liquibase/changelog.xml
          url: ${{ secrets.DB_URL }}
          username: ${{ secrets.DB_USERNAME }}
          password: ${{ secrets.DB_PASSWORD }}
             